.header {
  border-bottom: 2px solid #ededed;
}

.mainLink {
  text-decoration: none;
  font-size: 24px;
}

.logoName {
  font-size: 32px;
  font-weight: 700;
}

.headerInner {
  height: 100%;
  margin: 0 auto;
  max-width: 1200px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.headerLeft {
  margin-right: 10px;
}

.headerRight {
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.headerLink {
  text-decoration: none;
  color: #ffffffd9;
}

.activeLink {
  text-decoration: underline;
  color: #13c2c2;
}